build/
node_modules/
package-lock.json
**/.DS_Store

plugins/*
!plugins/backlink-cafe*/
!plugins/wp-react-plugin-boilerplate
**/backlink-cafe.zip

plugins/backlink-cafe/admin/css/*
plugins/backlink-cafe/admin/js/*
